html {
    background: #111111;
    color: #ffffff;
}

/* Neomorphic buttons  -- with Increased contrast */
button {
    display: inline-block;
    border: none;
    border-radius: 50px; /* Adjust the value to control the roundness */
    padding: 5px; /* Adjust padding as needed */
    background-color: #5252be; /* Background color of the container pane */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 12px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(255, 255, 255, 0.05), inset -2px -2px 5px rgba(0, 0, 0, 0.2); /* Neumorphic shadow effect */
    color: #ffd10c; /* Neon blue font color */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Cursor style */
    transition: all 0.3s ease; /* Smooth transition */
    text-shadow: 0 0 10px #0f0f41, 0 0 20px #0f0f41, 0 0 30px #0f0f41, 0 0 40px #0f0f41, 0 0 50px #0f0f41, 0 0 60px #0f0f41, 0 0 70px #0f0f41;
}

button:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2), 0px 0px 18px rgba(0, 0, 0, 0.3), inset 2px 2px 8px rgba(255, 255, 255, 0.1), inset -2px -2px 8px rgba(0, 0, 0, 0.3); /* Adjust shadow on hover */
}

button:active {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.2); /* Adjust shadow on click */
}


.main-editor {
    height: calc(100% - 10px) !important;
    width: calc(100% - 10px) !important;
    padding: 5px;
}

#filebrowser {
    font-size: 0.6em;
    height: calc(100% - 6px);
    width: calc(100% - 4px);
    overflow-y: scroll;

    scrollbar-width: thin; /* Adjust the width of the scrollbar */
    scrollbar-color: #666666 #272765; /* Thumb color Track color */
}

#filebrowser::-webkit-scrollbar-track {
    background-color: #272765;
}

#filebrowser::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 10px;
}

#filebrowser::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

#filebrowser::-webkit-scrollbar-thumb:active {
    background-color: #aaaaaa;
}

.suggestions {
    background: #eaffc1;
    padding: 3px !important;
}

.filebrowser {
    padding: 4px !important;
}

.folder {
    border: 1px solid transparent;
    color: #a97ed7;
    padding: 2px;
    display: block;
    margin: 3px;
}

.red-folder {
    color: #f85555;
}

.file {
    border: 1px solid transparent;
    color: #c2d8c2;
    padding: 2px;
    display: block;
    margin: 3px;
}

.current-file {
    color: #54a3ed;
}

.file:hover, .folder:hover {
    border: 1px dashed #8bffe1;
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body, html, .main-container {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.number {
    display: inline-block;
    padding: 0 1px;
    color: black;
    background: white;
    border: 1px solid black;
}

.suggestion {
    display: inline-block;
    padding: 1px 3px;
    border-radius: 4px;
    border: 1px solid black;
    color: black;
    font-size: 0.8em;
}

.suggestion-selected {
    font-size: 1.2em;
    padding: 2px 4px;
}

.suggestion-dumb {
    background: #f28c8c;
}

.suggestion-fuzz {
    background: #a8ffff;
    color: black;
}

.suggestion-direct {
    background: #bdfcc0;
    color: black;
}

.suggestion-user {
    background: #74c379;
    color: black;
}

.suggestion-trie {
    background: #cb9dfa;
    color: black;
}

/* === */

#guiMode, #mindMapSyncMode {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 3px;
    font-size: 0.5em;
}

#container {
    background: #111;
    height: 100%;
    width: 100%;
}

.pane {
    display: none; /* will appear when layout inits */
}

.toolbar {
    padding: 5px;
}

.output {
    padding: 5px;
    min-height: 48px;
}

.dirty-file {
    color: #f85555;
}

/* ============= */
/* https://loading.io/css/ */
.lds-grid {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}


.ui-layout-pane {
    padding: 0;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}